<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gio hang</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="/public/styles/base.css">
    <link rel="stylesheet" href="/public/styles/main.css">
    <link rel="stylesheet" href="/public/styles/cart.css">
    <!-- <link rel="stylesheet" href="./fontawesome-free-5.15.4-web/css/all.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="app">
        <header class="header">
            <div class="grid">
                <nav class="header__navbar">
                    <ul class="header__navbar-list">
                        <li class="header__navbar-item">Vào cửa hàng trên ứng dụng
                        </li>
                        <li class="header__navbar-item header__navbar-item-connect">Kết nối
                            <a href="" class="header__navbar-item-link">
                                <i class="header__navbar-icon fa fa-facebook-official"></i>
                            </a>
                            <a href="" class="header__navbar-item-link">
                                <i class="header__navbar-icon fa fa-instagram"></i>
                            </a>
                        </li>
                    </ul>

                    <ul class="header__navbar-list">
                        <li class="header__navbar-item header__navbar-item-hasnotify">
                            <i class="fa fa-bell" aria-hidden="true"></i>
                            <a href="" class="header__navbar-item-link">Thông báo</a>
                            <div class="header__notify">
                                <header class="header__notify-head">
                                    <h3>Thông báo mới nhận</h3>
                                </header>
                                <!-- Thong bao -->
                                <ul class="header__notify-list">
                                    <li class="header__notify-item">
                                        <a href="" class="header__notify-link">
                                            <img src="/image/Book-PNG-2.png" alt="" class="header__notify-img">
                                            <div class="header__notify-info">
                                                <span class="header__notify-name">Sách bạn chạy đang hay nhé </span>
                                                <span class="header__notify-dis">Nguyễn Trần Nhật Anh thủ dâm nhiều bị
                                                    yếu sinh lý Nguyễn Trần Nhật Anh thủ dâm nhiều bị yếu sinh lýNguyễn
                                                    Trần Nhật Anh thủ dâm nhiều bị yếu sinh lýNguyễn Trần Nhật Anh thủ
                                                    dâm nhiều bị yếu sinh lý</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="header__notify-item">
                                        <a href="" class="header__notify-link">
                                            <img src="/image/Book-PNG-2.png" alt="" class="header__notify-img">
                                            <div class="header__notify-info">
                                                <span class="header__notify-name">Sách bạn chạy đang hay nhé </span>
                                                <span class="header__notify-dis">Nguyễn Trần Nhật Anh thủ dâm nhiều bị
                                                    yếu sinh lý Nguyễn Trần Nhật Anh thủ dâm nhiều bị yếu sinh lýNguyễn
                                                    Trần Nhật Anh thủ dâm nhiều bị yếu sinh lýNguyễn Trần Nhật Anh thủ
                                                    dâm nhiều bị yếu sinh lý</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="header__notify-item">
                                        <a href="" class="header__notify-link">
                                            <img src="/image/Book-PNG-2.png" alt="" class="header__notify-img">
                                            <div class="header__notify-info">
                                                <span class="header__notify-name">Sách bạn chạy đang hay nhé </span>
                                                <span class="header__notify-dis">Nguyễn Trần Nhật Anh thủ dâm nhiều bị
                                                    yếu sinh lý Nguyễn Trần Nhật Anh thủ dâm nhiều bị yếu sinh lýNguyễn
                                                    Trần Nhật Anh thủ dâm nhiều bị yếu sinh lýNguyễn Trần Nhật Anh thủ
                                                    dâm nhiều bị yếu sinh lý</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="header__notify-item">
                                        <a href="" class="header__notify-link">
                                            <img src="/image/Book-PNG-2.png" alt="" class="header__notify-img">
                                            <div class="header__notify-info">
                                                <span class="header__notify-name">Sách bán chạy </span>
                                                <span class="header__notify-dis">Sách tôi đang bán chạy</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="header__notify-item">
                                        <a href="" class="header__notify-link">
                                            <img src="/image/Book-PNG-2.png" alt="" class="header__notify-img">
                                            <div class="header__notify-info">
                                                <span class="header__notify-name">Sach ban chay </span>
                                                <span class="header__notify-dis">Mo ta</span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                                <footer class="header__notify-footer">
                                    <a href="">Xem tất cả</a>
                                </footer>
                            </div>
                        </li>
                        <li class="header__navbar-item">
                            <i class="fa fa-question-circle-o" aria-hidden="true"></i>
                            <a href="" class="header__navbar-item-link">Trợ giúp</a>
                        </li>
                        <% if (loginCheck) { %>
                            <li class="header__navbar-item header__navbar-user">
                                <img src="https://iupac.org/wp-content/uploads/2018/05/default-avatar.png" alt=""
                                    class="header__navbar-userimg">
                                <span class="header__navbar-userspan">
                                    <%= username %>
                                </span>
                                <ul class="navbar__user-menu">
                                    <li>
                                        <a href="/user/<%= loginCheck %>">Tài khoản của tôi</a>
                                    </li>
                                    <li>
                                        <a href="/personalshop/<%= loginCheck %>">Cửa hàng của tôi</a>
                                    </li>
                                    <li>
                                        <a href="/cart/<%= loginCheck %>">Đơn mua</a>
                                    </li>
                                    <li>
                                        <form action="/logout" method="POST">
                                            <a href="#" onclick="this.parentNode.submit()">Đăng xuất</a>
                                        </form>
                                    </li>
                                </ul>
                            </li>
                            <% } else {%>
                                <a href="/register" class="register_link">
                                    <li class="header__navbar-item header__navbar-item-register">Đăng Ký</li>
                                </a>
                                <a href="/login" class="login_link">
                                    <li class="header__navbar-item header__navbar-item-register">Đăng Nhập</li>
                                </a>
                                <% } %>
                    </ul>
                </nav>
                <div class="header-with-search">
                    <div class="header__logo">
                        <a href="/">
                            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                            <span class="logo-text">Ebook</span>
                        </a>
                    </div>
                    <div class="header__search">
                        <input type="text" class="header__search-input" placeholder="Nhập để tìm kiếm sản phẩm">
                        <div class="header__search-select">
                            <span>Trong shop</span>
                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </div>
                        <button class="header__search-btn">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="header__cart"></div>
                </div>
            </div>

        </header>
        <div class="body-app">
            <div class="my-body-app">
                <div class="my-product-contain">
                    <div class="product-contain-title">
                        Giỏ Hàng Của Tôi
                    </div>
                    <div class="product-contain-body">
                        <div class="contain-body-head">
                            <div class="head-product-name">Sản phẩm</div>
                            <div class="head-product-price">Đơn giá</div>
                            <div class="head-product-number">Số lượng</div>
                            <div class="head-product-allprice">Số tiền</div>
                            <div class="head-product-delete">Thao tác</div>
                        </div>
                        <div class="product-body-main"></div>
                    </div>
                    <div class="product-buy-payment">
                        <div class="buy-payment-top">
                            <div class="payment-top-how">Phương thức thanh toán</div>
                            <div class="payment-top-when">Thanh toán khi nhận hàng</div>
                        </div>
                        <div class="buy-payment-main">
                            <div class="payment-main-empty-left"></div>
                            <div class="payment-main-content">
                                <div class="main-content-price">
                                    <div>Tổng tiền hàng</div>
                                    <div id="pay-all-price">1.000.000d</div>
                                </div>
                                <div class="main-content-pay">
                                    <div>Tổng thanh toán</div>
                                    <div class="pay-all-price">1.030.000d</div>
                                </div>
                                <div class="main-content-buy">
                                    <button class="content-buy-btn">Mua ngay</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="grid">
                <div class="grid__row">
                    <div class="grid-column-new2">
                        <h3 class="footer-heading">Chăm sóc khách hàng</h3>
                        <ul class="footer-list">
                            <li class="footer-item">Trung Tâm Trợ Giúp</li>
                            <li class="footer-item">Hướng Dẫn Mua Hàng</li>
                            <li class="footer-item">Thanh Toán</li>
                            <li class="footer-item">Vận Chuyển</li>
                            <li class="footer-item">Trả Hàng & Hoàn Tiền</li>
                            <li class="footer-item">Chính Sách Bảo Hành</li>
                        </ul>
                    </div>
                    <div class="grid-column-new2">
                        <h3 class="footer-heading">Giới thiệu</h3>
                        <ul class="footer-list">
                            <li class="footer-item">Giới thiệu về Ebook</li>
                            <li class="footer-item">Liên hệ với chúng tôi</li>
                            <li class="footer-item">Nguyễn Trần Nhật Anh</li>
                            <li class="footer-item">Boy Cô Đơn</li>
                            <li class="footer-item">Nguyễn Tiến Đàn</li>
                            <li class="footer-item">Nhà Giàu Lắm Đất</li>
                        </ul>
                    </div>
                    <div class="grid-column-new2">
                        <h3 class="footer-heading">Danh mục</h3>
                        <ul class="footer-list">
                            <li class="footer-item">Sách giáo khoa</li>
                            <li class="footer-item">Sách tiếng Anh</li>
                            <li class="footer-item">Văn Học</li>
                            <li class="footer-item">Sách Kinh Tế</li>
                            <li class="footer-item">Tâm lí - Kĩ Năng Sống</li>
                            <li class="footer-item">Sách dạy làm giàu</li>
                        </ul>
                    </div>
                    <div class="grid-column-new2">
                        <h3 class="footer-heading">Theo dõi chúng tôi trên</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <i class="footer-icon fa fa-facebook-official"></i>
                                FaceBook
                            </li>
                            <li class="footer-item">
                                <i class="footer-icon fa fa-instagram"></i>
                                Instagram
                            </li>
                            <li class="footer-item">
                                <i class="footer-icon fa fa-linkedin-square"></i>
                                LinkedIn
                            </li>
                        </ul>
                    </div>
                    <div class="grid-column-new2">
                        <h3 class="footer-heading">Vào cửa hàng trên ứng dụng</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <img src="/image/app-store.png" alt="">
                            </li>
                            <li class="footer-item">
                                <img src="/image/gg-play.png" alt="">
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </footer>
    </div>
    <script src="/public/scripts/cart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>

</html>