<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="/public/styles/base.css">
    <link rel="stylesheet" href="/public/styles/main.css">
    <link rel="stylesheet" href="/public/styles/productdetail.css">
    <!-- <link rel="stylesheet" href="./fontawesome-free-5.15.4-web/css/all.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="app">
        <header class="header">
            <div class="grid">
                <nav class="header__navbar">
                    <ul class="header__navbar-list">
                        <li class="header__navbar-item">Vào cửa hàng trên ứng dụng
                        </li>
                        <li class="header__navbar-item header__navbar-item-connect">Kết nối
                            <a href="" class="header__navbar-item-link">
                                <i class="header__navbar-icon fa fa-facebook-official"></i>
                            </a>
                            <a href="" class="header__navbar-item-link">
                                <i class="header__navbar-icon fa fa-instagram"></i>
                            </a>
                        </li>
                    </ul>

                    <ul class="header__navbar-list">
                        <li class="header__navbar-item header__navbar-item-hasnotify">
                            <i class="fa fa-bell" aria-hidden="true"></i>
                            <a href="" class="header__navbar-item-link">Thông báo</a>
                            <div class="header__notify">
                                <header class="header__notify-head">
                                    <h3>Thông báo mới nhận</h3>
                                </header>
                                <!-- Thong bao -->
                                <ul class="header__notify-list">
                                    <li class="header__notify-item">
                                        <a href="" class="header__notify-link">
                                            <img src="/image/Book-PNG-2.png" alt="" class="header__notify-img">
                                            <div class="header__notify-info">
                                                <span class="header__notify-name">Sách bạn chạy đang hay nhé </span>
                                                <span class="header__notify-dis">Nguyễn Trần Nhật Anh thủ dâm nhiều bị
                                                    yếu sinh lý Nguyễn Trần Nhật Anh thủ dâm nhiều bị yếu sinh lýNguyễn
                                                    Trần Nhật Anh thủ dâm nhiều bị yếu sinh lýNguyễn Trần Nhật Anh thủ
                                                    dâm nhiều bị yếu sinh lý</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="header__notify-item">
                                        <a href="" class="header__notify-link">
                                            <img src="/image/Book-PNG-2.png" alt="" class="header__notify-img">
                                            <div class="header__notify-info">
                                                <span class="header__notify-name">Sách bạn chạy đang hay nhé </span>
                                                <span class="header__notify-dis">Nguyễn Trần Nhật Anh thủ dâm nhiều bị
                                                    yếu sinh lý Nguyễn Trần Nhật Anh thủ dâm nhiều bị yếu sinh lýNguyễn
                                                    Trần Nhật Anh thủ dâm nhiều bị yếu sinh lýNguyễn Trần Nhật Anh thủ
                                                    dâm nhiều bị yếu sinh lý</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="header__notify-item">
                                        <a href="" class="header__notify-link">
                                            <img src="/image/Book-PNG-2.png" alt="" class="header__notify-img">
                                            <div class="header__notify-info">
                                                <span class="header__notify-name">Sách bạn chạy đang hay nhé </span>
                                                <span class="header__notify-dis">Nguyễn Trần Nhật Anh thủ dâm nhiều bị
                                                    yếu sinh lý Nguyễn Trần Nhật Anh thủ dâm nhiều bị yếu sinh lýNguyễn
                                                    Trần Nhật Anh thủ dâm nhiều bị yếu sinh lýNguyễn Trần Nhật Anh thủ
                                                    dâm nhiều bị yếu sinh lý</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="header__notify-item">
                                        <a href="" class="header__notify-link">
                                            <img src="/image/Book-PNG-2.png" alt="" class="header__notify-img">
                                            <div class="header__notify-info">
                                                <span class="header__notify-name">Sách bán chạy </span>
                                                <span class="header__notify-dis">Sách tôi đang bán chạy</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="header__notify-item">
                                        <a href="" class="header__notify-link">
                                            <img src="/image/Book-PNG-2.png" alt="" class="header__notify-img">
                                            <div class="header__notify-info">
                                                <span class="header__notify-name">Sach ban chay </span>
                                                <span class="header__notify-dis">Mo ta</span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                                <footer class="header__notify-footer">
                                    <a href="">Xem tất cả</a>
                                </footer>
                            </div>
                        </li>
                        <li class="header__navbar-item">
                            <i class="fa fa-question-circle-o" aria-hidden="true"></i>
                            <a href="" class="header__navbar-item-link">Trợ giúp</a>
                        </li>
                        <!-- Chua dang nhap -->
                        <a href="LoginRegistrationForm/index2.html" class="register_link">
                            <li class="header__navbar-item header__navbar-item-register">Đăng Ký</li>
                        </a>
                        <a href="LoginRegistrationForm/index2.html" class="login_link">
                            <li class="header__navbar-item header__navbar-item-register">Đăng Nhập</li>
                        </a>
                        <!-- Da dang nhap -->
                        <!-- <li class="header__navbar-item header__navbar-user">
                            <img src="/image/user-avt.png" alt="" class="header__navbar-userimg">
                            <span class="header__navbar-userspan">Nguyễn Tiến Đàn</span>
                            <ul class="navbar__user-menu">
                                <li>
                                    <a href="">Tài khoản của tôi</a>
                                </li>
                                <li>
                                    <a href="">Đơn mua</a>
                                </li>
                                <li>
                                    <a href="">Đăng xuất</a>
                                </li>
                            </ul>
                        </li> -->
                    </ul>
                </nav>
                <div class="header-with-search">
                    <div class="header__logo">
                        <a href="">
                            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                            <span class="logo-text">Ebook</span>
                        </a>
                    </div>
                    <div class="header__search">
                        <input type="text" class="header__search-input" placeholder="Nhập để tìm kiếm sản phẩm">
                        <div class="header__search-select">
                            <span>Trong shop</span>
                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </div>
                        <button class="header__search-btn">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="header__cart">
                        <div class="header__cart-wrap">
                            <i class="header__cart-icon fa fa-shopping-cart"></i>
                            <span class="header__cart-number">31</span>
                            <div class="header__cart-list no-cart">
                                <!-- truong hop no-cart -->
                                <img src="image/no-cart.png" alt="" class="no__cart-img">
                                <p>Chưa có sản phẩm</p>
                                <!-- truong hop co-cart -->
                                <h4>Sản phẩm đã thêm</h4>
                                <ul class="cart__list-item">
                                    <li class="cart__item">
                                        <img src="/image/Book-PNG-2.png" alt="" class="cart__list-img">
                                        <div class="card__item-head">
                                            <h5>Sách giáo khoa tiếng Việt 1 Nguyễn Trần Nhật Anh chơi gái nhiều bị sida
                                                Sách giáo khoa tiếng Việt 1 Nguyễn Trần Nhật Anh chơi gái nhiều bị sida
                                            </h5>
                                            <div class="cart__item-allprice">
                                                <span class="cart__item-price">2.000.000</span>
                                                <span class="cart__item-multiply">x</span>
                                                <span class="cart__item-quantity">2</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="cart__item">
                                        <img src="/image/Book-PNG-2.png" alt="" class="cart__list-img">
                                        <div class="card__item-head">
                                            <h5>Sách giáo khoa tiếng Việt 1</h5>
                                            <div class="cart__item-allprice">
                                                <span class="cart__item-price">2.000.000</span>
                                                <span class="cart__item-multiply">x</span>
                                                <span class="cart__item-quantity">2</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="cart__item">
                                        <img src="/image/Book-PNG-2.png" alt="" class="cart__list-img">
                                        <div class="card__item-head">
                                            <h5>Sách giáo khoa tiếng Việt 1</h5>
                                            <div class="cart__item-allprice">
                                                <span class="cart__item-price">2.000.000</span>
                                                <span class="cart__item-multiply">x</span>
                                                <span class="cart__item-quantity">2</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="cart__item">
                                        <img src="/image/Book-PNG-2.png" alt="" class="cart__list-img">
                                        <div class="card__item-head">
                                            <h5>Sách giáo khoa tiếng Việt 1</h5>
                                            <div class="cart__item-allprice">
                                                <span class="cart__item-price">2.000.000</span>
                                                <span class="cart__item-multiply">x</span>
                                                <span class="cart__item-quantity">2</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="cart__item">
                                        <img src="/image/Book-PNG-2.png" alt="" class="cart__list-img">
                                        <div class="card__item-head">
                                            <h5>Sách giáo khoa tiếng Việt 1</h5>
                                            <div class="cart__item-allprice">
                                                <span class="cart__item-price">2.000.000</span>
                                                <span class="cart__item-multiply">x</span>
                                                <span class="cart__item-quantity">2</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="cart__item">
                                        <img src="/image/Book-PNG-2.png" alt="" class="cart__list-img">
                                        <div class="card__item-head">
                                            <h5>Sách giáo khoa tiếng Việt 1</h5>
                                            <div class="cart__item-allprice">
                                                <span class="cart__item-price">2.000.000</span>
                                                <span class="cart__item-multiply">x</span>
                                                <span class="cart__item-quantity">2</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="cart__item">
                                        <img src="/image/Book-PNG-2.png" alt="" class="cart__list-img">
                                        <div class="card__item-head">
                                            <h5>Sách giáo khoa tiếng Việt 1</h5>
                                            <div class="cart__item-allprice">
                                                <span class="cart__item-price">2.000.000</span>
                                                <span class="cart__item-multiply">x</span>
                                                <span class="cart__item-quantity">2</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="cart__foot">
                                    <button class="cart__item-btn">Xem giỏ hàng</button>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </header>
        <div class="container">
            <div class="grid">
                <div class="first-book-name">
                    <span class="first-book-name-text">Ebook > Sách > Tâm Lí - Kĩ Năng Sống > Tôi Tự Học</span>
                </div>
                <div class="grid__row book-container">
                    <div class="grid-column-4">
                        <a href="#" class="home-product">

                    </div>
                    </a>
                </div>
                <div class="grid-column-6">
                    <div class="home-product-info">

                        <h1 class="book-heading">

                        </h1>
                        <div class="product-view-sa">
                            <div class="product-view-sa-one">
                                <div class="product-view-sa-supplier">
                                    <span>Nhà cung cấp: </span>
                                    <span>

                                    </span>
                                </div>

                            </div>
                        </div>
                        <div class="product-rating">
                            <div class="rating-new-star">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                            <span>Đã bán 88</span>
                        </div>
                        <div>
                            <span>Số lượng trong kho: </span>
                        </div>
                        <div class="book-item-price">
                            <span class="book-item-price-old">299.000đ</span>
                            <span class="book-item-price-current">

                            </span>
                        </div>
                        <div class="expected_delivery">
                            <div class="expected_return-product-policy">
                                <span>Chính sách đổi tra</span>
                                <span>Đổi trả trong 30 ngày</span>
                            </div>
                        </div>
                        <div class="product-view-quantity-box">
                            <label for="qty">Số lượng: </label>
                            <div class="product-view-quantity-box-block">
                                <a href="#" class="btn-subtract-qty">
                                    <img style="width: 12px; height: auto;"
                                        src="https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_minus2x.png">
                                </a>
                                <input type="text" name="qty" id="qty" max="" minvalue="1" text-align="center" value="1"
                                    onkeypress="validateNumber(event)" onblur="validateQty();" title="SL"
                                    class="input-text qty">
                                <a href="#" class="btn-add-qty" onclick="addQty();">
                                    <img style="width: 12px; height: auto;"
                                        src="https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_plus2x.png">
                                </a>
                            </div>
                        </div>
                        <div class="product_view_add_box">
                            <button class="btn-cart-to-cart">
                                <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                Thêm Vào Giỏ Hàng</button>
                            <button class="btn-buy-now">Mua Ngay</button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="grid">
                <div class="book-info-content">
                    <hr width="100%" size="8px">
                    <h3>Thông tin sản phẩm:</h3>
                    <br>
                    <h6>Mã hàng: </h6>
                    <br>
                    <h6>Nhà cung cấp: </h6>
                    <br>
                    <h6>Thể loại: </h6>
                    <hr width="100%" size="8px">
                    <h5>Nội dung:</h5>
                    <p></p>
                    <hr width="100%" size="8px">
                </div>

            </div>
            <div class="grid">
                <div class="user-rating-book">
                    <h3 class="mb-3"> Đánh giá sản phẩm </h3>
                    <div>
                        <div class="box">
                            <div class="box" style="float:left">
                                <img src="https://iupac.org/wp-content/uploads/2018/05/default-avatar.png" alt=""
                                    style="height:30px;width:30px">
                            </div>
                            <div class="box" style="margin-left: 40px">
                                <h5>Nguyễn Tiến Đàn</h5>
                            </div>
                        </div>
                        <div class="box" style="padding-left:40px;width:50%">
                            <h6>2021-11-14</h6>
                            <p>sách dởm</p>
                        </div>
                    </div>
                    <br>
                    <form action="bookinfo.php?id=71&amp;cmt=1" method="post">
                        <label>Họ và tên</label>
                        <input type="text" class="form-control" placeholder="Họ và tên của bạn" required="" name="hoten"
                            style="width:30%">
                        <label>Đánh giá sản phẩm</label>
                        <textarea class="form-control" placeholder="Nhập nội dung bình luận" required="" name="cmt"
                            style="width:60%;height:100px"></textarea>
                        <button class="add-comment">Thêm bình luận</button>
                    </form>
                    <hr width="100%" size="4px">
                </div>
            </div>
            <div class="grid">
                <div class="recomend-product">
                    <div class="title-recomend">SẢN PHẨM TƯƠNG TỰ</div>
                    <div class="grid__row gird__row-limit">
                        <div class="grid-column-2">
                            <a href="" class="home-product-item">
                                <div class="product-item-img" style="background-image: url(/image/toi-tu-hoc_3d.jpg);">
                                </div>
                                <h4 class="product-item-name">
                                    Tôi Tự Học - Phiên Bản Giới Hạn Có Đánh Số - Tặng Kèm nguyen tien dan tien
                                    dan
                                </h4>
                                <div class="product-item-price">
                                    <span class="product-item-price-old">1.200.000đ</span>
                                    <span class="product-item-price-current">900.000đ</span>
                                </div>
                                <div class="product-item-rating">
                                    <span class="rating-heart">
                                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                                    </span>
                                    <div class="rating-star">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <span class="rating-number-sold">Đã bán 88</span>
                                </div>
                                <div class="product-item-origin">
                                    <span>Hà Nội</span>
                                </div>
                                <div class="product-item-favourite">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    Yêu thích
                                </div>
                            </a>
                        </div>
                        <div class="grid-column-2">
                            <a href="" class="home-product-item">
                                <div class="product-item-img" style="background-image: url(/image/toi-tu-hoc_3d.jpg);">
                                </div>
                                <h4 class="product-item-name">
                                    Tôi Tự Học - Phiên Bản Giới Hạn Có Đánh Số - Tặng Kèm nguyen tien dan tien
                                    dan
                                </h4>
                                <div class="product-item-price">
                                    <span class="product-item-price-old">1.200.000đ</span>
                                    <span class="product-item-price-current">900.000đ</span>
                                </div>
                                <div class="product-item-rating">
                                    <span class="rating-heart">
                                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                                    </span>
                                    <div class="rating-star">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <span class="rating-number-sold">Đã bán 88</span>
                                </div>
                                <div class="product-item-origin">
                                    <span>Hà Nội</span>
                                </div>
                                <div class="product-item-favourite">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    Yêu thích
                                </div>
                            </a>
                        </div>
                        <div class="grid-column-2">
                            <a href="" class="home-product-item">
                                <div class="product-item-img" style="background-image: url(/image/toi-tu-hoc_3d.jpg);">
                                </div>
                                <h4 class="product-item-name">
                                    Tôi Tự Học - Phiên Bản Giới Hạn Có Đánh Số - Tặng Kèm nguyen tien dan tien
                                    dan
                                </h4>
                                <div class="product-item-price">
                                    <span class="product-item-price-old">1.200.000đ</span>
                                    <span class="product-item-price-current">900.000đ</span>
                                </div>
                                <div class="product-item-rating">
                                    <span class="rating-heart">
                                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                                    </span>
                                    <div class="rating-star">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <span class="rating-number-sold">Đã bán 88</span>
                                </div>
                                <div class="product-item-origin">
                                    <span>Hà Nội</span>
                                </div>
                                <div class="product-item-favourite">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    Yêu thích
                                </div>
                            </a>
                        </div>
                        <div class="grid-column-2">
                            <a href="" class="home-product-item">
                                <div class="product-item-img" style="background-image: url(/image/toi-tu-hoc_3d.jpg);">
                                </div>
                                <h4 class="product-item-name">
                                    Tôi Tự Học - Phiên Bản Giới Hạn Có Đánh Số - Tặng Kèm nguyen tien dan tien
                                    dan
                                </h4>
                                <div class="product-item-price">
                                    <span class="product-item-price-old">1.200.000đ</span>
                                    <span class="product-item-price-current">900.000đ</span>
                                </div>
                                <div class="product-item-rating">
                                    <span class="rating-heart">
                                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                                    </span>
                                    <div class="rating-star">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <span class="rating-number-sold">Đã bán 88</span>
                                </div>
                                <div class="product-item-origin">
                                    <span>Hà Nội</span>
                                </div>
                                <div class="product-item-favourite">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    Yêu thích
                                </div>
                            </a>
                        </div>
                        <div class="grid-column-2">
                            <a href="" class="home-product-item">
                                <div class="product-item-img" style="background-image: url(/image/toi-tu-hoc_3d.jpg);">
                                </div>
                                <h4 class="product-item-name">
                                    Tôi Tự Học - Phiên Bản Giới Hạn Có Đánh Số - Tặng Kèm nguyen tien dan tien
                                    dan
                                </h4>
                                <div class="product-item-price">
                                    <span class="product-item-price-old">1.200.000đ</span>
                                    <span class="product-item-price-current">900.000đ</span>
                                </div>
                                <div class="product-item-rating">
                                    <span class="rating-heart">
                                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                                    </span>
                                    <div class="rating-star">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <span class="rating-number-sold">Đã bán 88</span>
                                </div>
                                <div class="product-item-origin">
                                    <span>Hà Nội</span>
                                </div>
                                <div class="product-item-favourite">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    Yêu thích
                                </div>
                            </a>
                        </div>
                        <div class="grid-column-2">
                            <a href="" class="home-product-item">
                                <div class="product-item-img" style="background-image: url(/image/toi-tu-hoc_3d.jpg);">
                                </div>
                                <h4 class="product-item-name">
                                    Tôi Tự Học - Phiên Bản Giới Hạn Có Đánh Số - Tặng Kèm nguyen tien dan tien
                                    dan
                                </h4>
                                <div class="product-item-price">
                                    <span class="product-item-price-old">1.200.000đ</span>
                                    <span class="product-item-price-current">900.000đ</span>
                                </div>
                                <div class="product-item-rating">
                                    <span class="rating-heart">
                                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                                    </span>
                                    <div class="rating-star">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <span class="rating-number-sold">Đã bán 88</span>
                                </div>
                                <div class="product-item-origin">
                                    <span>Hà Nội</span>
                                </div>
                                <div class="product-item-favourite">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    Yêu thích
                                </div>
                            </a>
                        </div>
                        <div class="grid-column-2">
                            <a href="" class="home-product-item">
                                <div class="product-item-img" style="background-image: url(/image/toi-tu-hoc_3d.jpg);">
                                </div>
                                <h4 class="product-item-name">
                                    Tôi Tự Học - Phiên Bản Giới Hạn Có Đánh Số - Tặng Kèm nguyen tien dan tien
                                    dan
                                </h4>
                                <div class="product-item-price">
                                    <span class="product-item-price-old">1.200.000đ</span>
                                    <span class="product-item-price-current">900.000đ</span>
                                </div>
                                <div class="product-item-rating">
                                    <span class="rating-heart">
                                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                                    </span>
                                    <div class="rating-star">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <span class="rating-number-sold">Đã bán 88</span>
                                </div>
                                <div class="product-item-origin">
                                    <span>Hà Nội</span>
                                </div>
                                <div class="product-item-favourite">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    Yêu thích
                                </div>
                            </a>
                        </div>
                        <div class="grid-column-2">
                            <a href="" class="home-product-item">
                                <div class="product-item-img" style="background-image: url(/image/toi-tu-hoc_3d.jpg);">
                                </div>
                                <h4 class="product-item-name">
                                    Tôi Tự Học - Phiên Bản Giới Hạn Có Đánh Số - Tặng Kèm nguyen tien dan tien
                                    dan
                                </h4>
                                <div class="product-item-price">
                                    <span class="product-item-price-old">1.200.000đ</span>
                                    <span class="product-item-price-current">900.000đ</span>
                                </div>
                                <div class="product-item-rating">
                                    <span class="rating-heart">
                                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                                    </span>
                                    <div class="rating-star">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <span class="rating-number-sold">Đã bán 88</span>
                                </div>
                                <div class="product-item-origin">
                                    <span>Hà Nội</span>
                                </div>
                                <div class="product-item-favourite">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    Yêu thích
                                </div>
                            </a>
                        </div>

                    </div>
                    <div class="see-more-product">
                        <form style="text-align:center" action="sanpham.php?page=1&amp;theloai=Thiếu nhi" method="post">
                            <button style="width:250px;height:50px" class="btn-see-more">Xem thêm &gt;&gt; </button>
                        </form>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <footer class="footer">
        <div class="grid">
            <div class="grid__row">
                <div class="grid-column-new2">
                    <h3 class="footer-heading">Chăm sóc khách hàng</h3>
                    <ul class="footer-list">
                        <li class="footer-item">Trung Tâm Trợ Giúp</li>
                        <li class="footer-item">Hướng Dẫn Mua Hàng</li>
                        <li class="footer-item">Thanh Toán</li>
                        <li class="footer-item">Vận Chuyển</li>
                        <li class="footer-item">Trả Hàng & Hoàn Tiền</li>
                        <li class="footer-item">Chính Sách Bảo Hành</li>
                    </ul>
                </div>
                <div class="grid-column-new2">
                    <h3 class="footer-heading">Giới thiệu</h3>
                    <ul class="footer-list">
                        <li class="footer-item">Giới thiệu về Ebook</li>
                        <li class="footer-item">Liên hệ với chúng tôi</li>
                        <li class="footer-item">Nguyễn Trần Nhật Anh</li>
                        <li class="footer-item">Boy Cô Đơn</li>
                        <li class="footer-item">Nguyễn Tiến Đàn</li>
                        <li class="footer-item">Nhà Giàu Lắm Đất</li>
                    </ul>
                </div>
                <div class="grid-column-new2">
                    <h3 class="footer-heading">Danh mục</h3>
                    <ul class="footer-list">
                        <li class="footer-item">Sách giáo khoa</li>
                        <li class="footer-item">Sách tiếng Anh</li>
                        <li class="footer-item">Văn Học</li>
                        <li class="footer-item">Sách Kinh Tế</li>
                        <li class="footer-item">Tâm lí - Kĩ Năng Sống</li>
                        <li class="footer-item">Sách dạy làm giàu</li>
                    </ul>
                </div>
                <div class="grid-column-new2">
                    <h3 class="footer-heading">Theo dõi chúng tôi trên</h3>
                    <ul class="footer-list">
                        <li class="footer-item">
                            <i class="footer-icon fa fa-facebook-official"></i>
                            FaceBook
                        </li>
                        <li class="footer-item">
                            <i class="footer-icon fa fa-instagram"></i>
                            Instagram
                        </li>
                        <li class="footer-item">
                            <i class="footer-icon fa fa-linkedin-square"></i>
                            LinkedIn
                        </li>
                    </ul>
                </div>
                <div class="grid-column-new2">
                    <h3 class="footer-heading">Vào cửa hàng trên ứng dụng</h3>
                    <ul class="footer-list">
                        <li class="footer-item">
                            <img src="/image/app-store.png" alt="">
                        </li>
                        <li class="footer-item">
                            <img src="/image/gg-play.png" alt="">
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </footer>
    </div>
    <script src="/public/scripts/productdetail.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>

</html>