<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-up</title>
    <link rel="stylesheet" href="/public/styles/register.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/styles/base.css">
    <link rel="stylesheet" href="/public/styles/main.css">
    <!-- <link rel="stylesheet" href="main.css"> -->
</head>

<body>
    <div class="app">
        <div class="head">
            <div class="head-content">
                <div class="head__logo">
                    <a href="">
                        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                        <span class="logo-text">Ebook</span>
                    </a>

                </div>
                <div class="head-signup-name">Đăng Ký</div>
            </div>
        </div>
        <div class="body-app">
            <div class="my-body-app">
                <div class="signup">
                    <div class="signup-title">Chào mừng bạn đến với Ebook. Đăng ký ngay!</div>

                    <div class="signup-form">
                        <form action="/register" method="POST">
                            <div class="signup-form-contain">
                                <div class="signup-form-head">
                                    <h3>Đăng ký</h3>
                                    <a href="/login">Đăng nhập</a>
                                </div>
                                <div class="signup-form-form">
                                    <div class="signup-form-group input-with-validator--error">
                                        <input type="text" name="username" class="signup-form-input"
                                            placeholder="Tên đăng nhập">
                                    </div>
                                    <div class="signup-form-group input-with-validator--error">
                                        <input type="password" name="password" class="signup-form-input"
                                            placeholder="Nhập mật khẩu">
                                    </div>
                                    <div class="signup-form-group input-with-validator--error">
                                        <input type="password" class="signup-form-input"
                                            placeholder="Xác nhận mật khẩu">
                                    </div>
                                </div>
                                <div class="signup-form-policy">
                                    <p>Bằng việc đăng kí, bạn đã đồng ý với Estore về
                                        <a href="" class="signup-form-policy-link">
                                            Điều khoản dịch vụ
                                        </a>&
                                        <a href="" class="signup-form-policy-link">
                                            Chính sách bảo mật
                                        </a>
                                    </p>
                                </div>
                                <div class="signup-form-control">
                                    <button class="signup-form-goback">TRỞ LẠI</button>
                                    <button class="signup-form-signup">ĐĂNG KÝ</button>
                                </div>
                                <div class="IFLxoY">
                                    <div class="_3svg61"></div><span class="_1ZEpVL">HOẶC</span>
                                    <div class="_3svg61"></div>
                                </div>
                                <div class="signup-form-social">
                                    <a href="" class="social-facebook">
                                        <i class="footer-icon fa fa-facebook-official"></i>
                                        <p>Kết nối với FaceBook</p>

                                    </a>
                                    <a href="" class="social-google">
                                        <i class="fa fa-google-plus-square" aria-hidden="true"></i>
                                        <p>Kết nối với Google</p>
                                    </a>
                                </div>
                                <div class="signup-form-switch">
                                    Bạn đã có tài khoản ?
                                    <a href="login.html" class="signup-switch-login">Đăng nhập</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="grid">
                <div class="grid__row">
                    <div class="grid-column-new2">
                        <h3 class="footer-heading">Chăm sóc khách hàng</h3>
                        <ul class="footer-list">
                            <li class="footer-item">Trung Tâm Trợ Giúp</li>
                            <li class="footer-item">Hướng Dẫn Mua Hàng</li>
                            <li class="footer-item">Thanh Toán</li>
                            <li class="footer-item">Vận Chuyển</li>
                            <li class="footer-item">Trả Hàng & Hoàn Tiền</li>
                            <li class="footer-item">Chính Sách Bảo Hành</li>
                        </ul>
                    </div>
                    <div class="grid-column-new2">
                        <h3 class="footer-heading">Giới thiệu</h3>
                        <ul class="footer-list">
                            <li class="footer-item">Giới thiệu về Ebook</li>
                            <li class="footer-item">Liên hệ với chúng tôi</li>
                            <li class="footer-item">Nguyễn Trần Nhật Anh</li>
                            <li class="footer-item">Boy Cô Đơn</li>
                            <li class="footer-item">Nguyễn Tiến Đàn</li>
                            <li class="footer-item">Nhà Giàu Lắm Đất</li>
                        </ul>
                    </div>
                    <div class="grid-column-new2">
                        <h3 class="footer-heading">Danh mục</h3>
                        <ul class="footer-list">
                            <li class="footer-item">Sách giáo khoa</li>
                            <li class="footer-item">Sách tiếng Anh</li>
                            <li class="footer-item">Văn Học</li>
                            <li class="footer-item">Sách Kinh Tế</li>
                            <li class="footer-item">Tâm lí - Kĩ Năng Sống</li>
                            <li class="footer-item">Sách dạy làm giàu</li>
                        </ul>
                    </div>
                    <div class="grid-column-new2">
                        <h3 class="footer-heading">Theo dõi chúng tôi trên</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <i class="footer-icon fa fa-facebook-official"></i>
                                FaceBook
                            </li>
                            <li class="footer-item">
                                <i class="footer-icon fa fa-instagram"></i>
                                Instagram
                            </li>
                            <li class="footer-item">
                                <i class="footer-icon fa fa-linkedin-square"></i>
                                LinkedIn
                            </li>
                        </ul>
                    </div>
                    <div class="grid-column-new2">
                        <h3 class="footer-heading">Vào cửa hàng trên ứng dụng</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <img src="/image/app-store.png" alt="">
                            </li>
                            <li class="footer-item">
                                <img src="/image/gg-play.png" alt="">
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </footer>
    </div>
    <script src="/public/scripts/register.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>

</html>