<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="/public/styles/base.css">
    <link rel="stylesheet" href="/public/styles/main.css">
    <link rel="stylesheet" href="/public/styles/user-info.css">
    <!-- <link rel="stylesheet" href="./fontawesome-free-5.15.4-web/css/all.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="app">
        <header class="header">
            <div class="grid">
                <nav class="header__navbar">
                    <ul class="header__navbar-list">
                        <li class="header__navbar-item">Vào cửa hàng trên ứng dụng
                        </li>
                        <li class="header__navbar-item header__navbar-item-connect">Kết nối
                            <a href="" class="header__navbar-item-link">
                                <i class="header__navbar-icon fa fa-facebook-official"></i>
                            </a>
                            <a href="" class="header__navbar-item-link">
                                <i class="header__navbar-icon fa fa-instagram"></i>
                            </a>
                        </li>
                    </ul>

                    <ul class="header__navbar-list">
                        <li class="header__navbar-item header__navbar-item-hasnotify">
                            <i class="fa fa-bell" aria-hidden="true"></i>
                            <a href="" class="header__navbar-item-link">Thông báo</a>
                            <div class="header__notify">
                                <header class="header__notify-head">
                                    <h3>Thông báo mới nhận</h3>
                                </header>
                                <!-- Thong bao -->
                                <ul class="header__notify-list">
                                    <li class="header__notify-item">
                                        <a href="" class="header__notify-link">
                                            <img src="https://phunugioi.com/wp-content/uploads/2020/10/hinh-anh-chao-minh-truong-powerpoint.jpg"
                                                alt="" class="header__notify-img">
                                            <div class="header__notify-info">
                                                <span class="header__notify-name">Chào mừng bạn đến với Ebook !</span>
                                                <span class="header__notify-dis">Cửa hàng chúng tôi chuyên bán các loại
                                                    sách tốt với giá rẻ
                                                    cùng nhiều ưu đãi hấp dẫn.
                                                </span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="header__notify-item">
                                        <a href="" class="header__notify-link">
                                            <img src="https://kingshop.vn/data/images/3%281%29.jpg" alt=""
                                                class="header__notify-img">
                                            <div class="header__notify-info">
                                                <span class="header__notify-name">Mua ngay kẻo lỡ</span>
                                                <span class="header__notify-dis">
                                                    Mua hàng ngay để nhận được nhiều ưu đãi từ shop bạn nhé!
                                                </span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="header__notify-item">
                                        <a href="" class="header__notify-link">
                                            <img src="https://static.tapchitaichinh.vn/images/upload/hoxuantruong/2016_09_01/ep_-_the_viral_myth_NZUA.jpg"
                                                alt="" class="header__notify-img">
                                            <div class="header__notify-info">
                                                <span class="header__notify-name">Chia sẻ ngay đi, chần chờ gì nữa
                                                    !</span>
                                                <span class="header__notify-dis">
                                                    Chia sẻ nhận xét của bạn về các tính năng của cửa hàng để giúp
                                                    mình cải thiện chất lượng dịch vụ
                                                </span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="header__notify-item">
                                        <a href="" class="header__notify-link">
                                            <img src="https://cf.shopee.vn/file/67d0ef3d3fc8897213c9a1f84ee561e1" alt=""
                                                class="header__notify-img">
                                            <div class="header__notify-info">
                                                <span class="header__notify-name">Sách giảm giá </span>
                                                <span class="header__notify-dis">Cuốn sách Mắt Biếc đang là sản phẩm bán
                                                    chạy
                                                    và được giảm giá, mua ngay kẻo lỡ !
                                                </span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="header__notify-item">
                                        <a href="" class="header__notify-link">
                                            <img src="https://scontent-sin6-4.xx.fbcdn.net/v/t1.6435-9/171439644_290910599373924_2770324636360157247_n.jpg?_nc_cat=103&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=6d_1YuMWm5cAX8K-zrd&_nc_ht=scontent-sin6-4.xx&oh=fed55732e5aab61f1f31888dcbd4b4af&oe=61C5FBED"
                                                alt="" class="header__notify-img">
                                            <div class="header__notify-info">
                                                <span class="header__notify-name">Voucher của Ebook phát người
                                                    yêu</span>
                                                <span class="header__notify-dis">
                                                    Ai chưa có người yêu thì gọi ngay bạn Nhật Anh đẹp trai nhé, vã lắm
                                                    rồi
                                                </span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                                <footer class="header__notify-footer">
                                    <a href="">Xem tất cả</a>
                                </footer>
                            </div>
                        </li>
                        <li class="header__navbar-item">
                            <i class="fa fa-question-circle-o" aria-hidden="true"></i>
                            <a href="" class="header__navbar-item-link">Trợ giúp</a>
                        </li>
                        <% if (username) { %>
                            <li class="header__navbar-item header__navbar-user">
                                <img src="https://iupac.org/wp-content/uploads/2018/05/default-avatar.png" alt=""
                                    class="header__navbar-userimg">
                                <span class="header__navbar-userspan">
                                    <%= username %>
                                </span>
                                <ul class="navbar__user-menu">
                                    <li>
                                        <a href="/user/<%= loginCheck %>">Tài khoản của tôi</a>
                                    </li>
                                    <li>
                                        <a href="/personalshop/<%= loginCheck %>">Cửa hàng của tôi</a>
                                    </li>
                                    <li>
                                        <a href="/cart/<%= loginCheck %>">Đơn mua</a>
                                    </li>
                                    <li>
                                        <form action="/logout" method="POST">
                                            <a href="#" onclick="this.parentNode.submit()">Đăng xuất</a>
                                        </form>
                                    </li>
                                </ul>
                            </li>
                            <% } else {%>
                                <a href="/register" class="register_link">
                                    <li class="header__navbar-item header__navbar-item-register">Đăng Ký</li>
                                </a>
                                <a href="/login" class="login_link">
                                    <li class="header__navbar-item header__navbar-item-register">Đăng Nhập</li>
                                </a>
                                <% } %>
                    </ul>
                </nav>
                <div class="header-with-search">
                    <div class="header__logo">
                        <a href="">
                            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                            <span class="logo-text">Ebook</span>
                        </a>
                    </div>
                    <div class="header__search">
                        <input type="text" class="header__search-input" placeholder="Nhập để tìm kiếm sản phẩm">
                        <div class="header__search-select">
                            <span>Trong shop</span>
                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </div>
                        <button class="header__search-btn">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="header__cart">
                        <div class="header__cart-wrap">
                            <i class="header__cart-icon fa fa-shopping-cart"></i>
                            <div class="header__cart-list no-cart">
                                <% if (loginCheck) { %>
                                    <h4>Sản phẩm đã thêm</h4>
                                    <ul class="cart__list-item">
                                        <% } else {%>
                                            <!-- truong hop no-cart -->
                                            <img src="https://uchimart.com/assets/images/no-cart.png" alt=""
                                                class="no__cart-img">
                                            <p>Chưa có sản phẩm</p>
                                            <% } %>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </header>
        <div class="container">
            <div class="grid">
                <div class="grid__row">
                    <div class="grid-column-2">
                        <div class="user-info">
                            <div class="user-info-img">
                                <img src="https://iupac.org/wp-content/uploads/2018/05/default-avatar.png" alt="">
                            </div>
                            <div class="user-info-name">
                                <p>

                                </p>
                                <span>
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                    Sửa Hồ Sơ
                                </span>
                            </div>
                        </div>
                        <div class="user-info-change-account">
                            <div class="stardust-account">
                                <div class="myaccount same-info-account">
                                    <img src="https://cf.shopee.vn/file/ba61750a46794d8847c3f463c5e71cc4" alt="">
                                    <span>Tài Khoản Của Tôi</span>
                                </div>
                                <div class="user-file">
                                    <span>Hồ sơ</span>
                                </div>
                                <div class="user-address">
                                    <span>Địa chỉ</span>
                                </div>
                                <div class="user-change-pass">
                                    <span>Đổi Mật Khẩu</span>
                                </div>
                            </div>
                        </div>
                        <div class="purchase-order same-info-account">
                            <img src="https://cf.shopee.vn/file/f0049e9df4e536bc3e7f140d071e9078" alt="">
                            <span>Đơn Mua</span>
                        </div>
                        <div class="user-account-notify same-info-account">
                            <img src="https://cf.shopee.vn/file/e10a43b53ec8605f4829da5618e0717c" alt="">
                            <span>Thông Báo</span>
                        </div>
                        <div class="user-account-voucher same-info-account">
                            <img src="https://cf.shopee.vn/file/84feaa363ce325071c0a66d3c9a88748" alt="">
                            <span>Kho Voucher</span>
                        </div>

                    </div>
                    <div class="grid-column-10">
                        <!-- hồ sơ -->
                        <!-- <div class="user-brief">
                            <div class="user-my-brief">
                                <h1>Hồ Sơ Của Tôi</h1>
                                <span>Quản lí thông tin hồ sơ để bảo mật tài khoản</span>
                            </div>
                            <div class="user-form-brief">
                                <div class="user-form-brief-text">
                                    <form action="">
                                        <div class="same-type-form">
                                            <div class="user-login-name user-same-name">
                                                <label for="">Tên Đăng Nhập</label>
                                            </div>
                                        </div>
                                        <div class="same-type-form">
                                            <div class="user-input-name user-same-name">
                                                <div class="user-input-name-label">
                                                    <label>Tên</label>
                                                </div>
                                                <div class="user-input-name-input">
                                                    <div class="input-with-validator-wrapper">
                                                        <div class="input-with-validator input-with-validator--error">
                                                            <input type="text" placeholder="" maxlength="255" value="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="same-type-form">
                                            <div class="user-email-name user-same-name">
                                                <div class="user-email-name-label">
                                                    <label>Email</label>
                                                </div>
                                                <div class="user-email-name-btn">
                                                    <button>Thêm</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="same-type-form">
                                            <div class="user-phone-name user-same-name">
                                                <div class="user-phone-name-label">
                                                    <label>Số Điện Thoại</label>
                                                </div>
                                                <div class="user-phone-name-all">
                                                    <div>0967134201</div>
                                                    <button>Thay đổi</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="same-type-form">
                                            <div class="user-shop-name user-same-name">
                                                <div class="user-shop-name-label">
                                                    <label>Tên Shop</label>
                                                </div>
                                                <div class="user-shop-name-input">
                                                    <div class="input-with-validator-wrapper">
                                                        <div class="input-with-validator">
                                                            <input type="text" placeholder="" maxlength="255"
                                                                value="dan200110">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="same-type-form">
                                            <div class="user-gender user-same-name">
                                                <div class="user-gender-label">
                                                    <label>Giới Tính</label>
                                                </div>
                                                <div class="user-gender-radiobutton">
                                                    <input type="radio" id="nam" name="gender" value="nam">
                                                      <label for="nam">Nam</label><br>
                                                      <input type="radio" id="nu" name="gender" value="nu">
                                                      <label for="nu">Nữ</label><br>
                                                      <input type="radio" id="khac" name="gender" value="khac">
                                                      <label for="khac">Khác</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="same-type-form">
                                            <div class="user-date-birth user-same-name">
                                                <div class="user-date-label">
                                                    <label>Ngày Sinh</label>
                                                </div>
                                                <div class="user-date-input">
                                                    <input type="date" id="birthday" name="birthday">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="save-foot-form">
                                            <button class="save-foot-form-btn">Lưu</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="user-upload-img">
                                    <div class="user-img-contain">
                                        <div class="user-avt-img">
                                            <img src="https://iupac.org/wp-content/uploads/2018/05/default-avatar.png"
                                                alt="">
                                        </div>
                                        <input type="file" class="input-choose-picture" accept=".jpg,.jpeg,.png">
                                        <button class="btn-choose-picture">Chọn Ảnh</button>
                                        <div class="user-img-description">
                                            <div>Dung lượng file tối đa 1 MB</div>
                                            <div>Định dạng:.JPEG, .PNG</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <!-- đổi mật khẩu -->
                        <div class="user-brief">
                            <div class="user-my-brief">
                                <h1>Đổi mật khẩu</h1>
                                <span>Đổi mật khẩu để bảo mật tài khoản</span>
                            </div>
                            <div class="user-form-brief">
                                <div class="user-form-brief-text">
                                    <form action="">
                                        <div class="same-type-form">
                                            <div class="user-input-name user-same-name">
                                                <div class="user-input-name-label">
                                                    <label>Mật khẩu hiện tại</label>
                                                </div>
                                                <div class="user-input-name-input">
                                                    <div class="input-with-validator-wrapper">
                                                        <div class="input-with-validator input-with-validator--error">
                                                            <input id="currentPasswordInput" type="password"
                                                                placeholder="" maxlength="255" value="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="same-type-form">
                                            <div class="user-shop-name user-same-name">
                                                <div class="user-shop-name-label">
                                                    <label>Mật Khẩu Mới</label>
                                                </div>
                                                <div class="user-shop-name-input">
                                                    <div class="input-with-validator-wrapper">
                                                        <div class="input-with-validator">
                                                            <input id="newPasswordInput" type="password" placeholder=""
                                                                maxlength="255" value="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="same-type-form">
                                            <div class="user-shop-name user-same-name">
                                                <div class="user-shop-name-label">
                                                    <label>Xác nhận mật khẩu</label>
                                                </div>
                                                <div class="user-shop-name-input">
                                                    <div class="input-with-validator-wrapper">
                                                        <div class="input-with-validator">
                                                            <input id="confirmPasswordInput" type="password"
                                                                placeholder="" maxlength="255" value="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="save-foot-form">
                                            <button class="save-foot-form-btn">Xác nhận</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="user-forgot-password"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="grid">
                <div class="grid__row">
                    <div class="grid-column-new2">
                        <h3 class="footer-heading">Chăm sóc khách hàng</h3>
                        <ul class="footer-list">
                            <li class="footer-item">Trung Tâm Trợ Giúp</li>
                            <li class="footer-item">Hướng Dẫn Mua Hàng</li>
                            <li class="footer-item">Thanh Toán</li>
                            <li class="footer-item">Vận Chuyển</li>
                            <li class="footer-item">Trả Hàng & Hoàn Tiền</li>
                            <li class="footer-item">Chính Sách Bảo Hành</li>
                        </ul>
                    </div>
                    <div class="grid-column-new2">
                        <h3 class="footer-heading">Giới thiệu</h3>
                        <ul class="footer-list">
                            <li class="footer-item">Giới thiệu về Ebook</li>
                            <li class="footer-item">Liên hệ với chúng tôi</li>
                            <li class="footer-item">Nguyễn Trần Nhật Anh</li>
                            <li class="footer-item">Boy Cô Đơn</li>
                            <li class="footer-item">Nguyễn Tiến Đàn</li>
                            <li class="footer-item">Nhà Giàu Lắm Đất</li>
                        </ul>
                    </div>
                    <div class="grid-column-new2">
                        <h3 class="footer-heading">Danh mục</h3>
                        <ul class="footer-list">
                            <li class="footer-item">Sách giáo khoa</li>
                            <li class="footer-item">Sách tiếng Anh</li>
                            <li class="footer-item">Văn Học</li>
                            <li class="footer-item">Sách Kinh Tế</li>
                            <li class="footer-item">Tâm lí - Kĩ Năng Sống</li>
                            <li class="footer-item">Sách dạy làm giàu</li>
                        </ul>
                    </div>
                    <div class="grid-column-new2">
                        <h3 class="footer-heading">Theo dõi chúng tôi trên</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <i class="footer-icon fa fa-facebook-official"></i>
                                FaceBook
                            </li>
                            <li class="footer-item">
                                <i class="footer-icon fa fa-instagram"></i>
                                Instagram
                            </li>
                            <li class="footer-item">
                                <i class="footer-icon fa fa-linkedin-square"></i>
                                LinkedIn
                            </li>
                        </ul>
                    </div>
                    <div class="grid-column-new2">
                        <h3 class="footer-heading">Vào cửa hàng trên ứng dụng</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <img src="/image/app-store.png" alt="">
                            </li>
                            <li class="footer-item">
                                <img src="/image/gg-play.png" alt="">
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </footer>
    </div>
    <script src="/public/scripts/user-info.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>

</html>